@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --main--color: gold;
  --second--color: black;
  --third--color: rgb(36,36,36);
  font-size: 16px;
  font-family:   'Noto Sans', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: black;
  --bg-secondary: #222222;
  --transition-speed: 600ms;
}


* {
  font-family: 'Noto sans', sans-serif;
  word-wrap: break-word;
}
body {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.15rem;
}

.towWayUpload div{
  margin-bottom: 20px;
}


main {
  background-color: white;
  width: 100%;
}

.articleForm {
  text-align: end;
  margin-right: 2%;
  margin-bottom: 100px;
  color: black;
  background-color: white;
}
.homeIcon {
  font-size: xx-large;
  color: gold;
}
.articleWriterC {
  margin-top: 20px;
}

.tittleInput {
  width: 70%;
  height: 40px;
  border: 1px solid grey;
  padding-left: 10px;
  font-size: larger;
}
.tittleInput::placeholder {
  color: grey;
  font-size: large;
}

.MuiStepLabel-iconContainer  {
  color: red;
}

.editor {
  width: 80%;
  margin-left: 20%;
  text-align: end;
  color: black;
  background-color: rgba(34, 34, 34, 0.182);
  overflow: scroll;
}

button {
  cursor: pointer;
  outline: none;
}
.publish {
  width: 150px;
  height: 40px;
  border: 1px solid gold;
  color: gold;
  background-color: black;
  margin-bottom: 20px;
  cursor: pointesr;
  border-radius: 25px;
}

.CreateVideo {
  text-align: start;
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.inputz {
  border: 1px solid black;
  margin-bottom: 20px;



}

.leftMM {
  width: 50%;
  margin-left: 50%;
  text-align: end;
}

.videform {
  width: 90%;
  margin-left: 10%;
}


.mainVideo {
  background-color: black;
  text-align: end;
  display: grid;
  grid-template-columns: 70% 30% ;

}


video {
  outline: none;
}

.video {
  padding: 10px;
  height: 500px;
  object-fit: contain;
  display: grid;
  grid-template-rows: 90% 10%;
}

.video label {
  font-size: medium;
  text-align: start;
  width: 90%;
  padding: 10px;
  height: 200px;
}

.featuredV {
  margin: 20px;
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-columns: 70px 1fr ;
  background-color: rgb(41, 41, 41);
  column-gap: 10px;
  vertical-align: center;
  align-items: center;
  text-align: start;
  padding-left: 10px;
  border: 1px solid gold
}

.iconzz {
  color: gold;
  display: grid;
  grid-template-columns: 20px 20px 50px;
  column-gap: 20px;
  padding-bottom: 10px;
}


.morevideos {
  height: auto;
  padding: 10px;
  background-color: black;
  height: 300px;
  
}

.total {
  padding: 10px;
  text-transform: uppercase;
  font-size: large;
}

.total span {
  text-align: end;
  color: gold;
  margin-left: 20px;
}


.morevideos div {
  width: 98.5%;
}

.iconzz div {
  font-size: small;
  margin-top: -2px;
  margin-left: -17px;

}


.featuredV p {
  font-size: small;
}
.footer {
  background-color: black;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: gold;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: gold;
}

.contentHolder {
  background-color: black;
}

.gridz {
  display: flex;
  flex-wrap: wrap;
}

.gridz div {
  flex: 300px;
}

.multiper {
  font-size: x-small;
}
a {
  text-decoration: none;
}
.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: gold;
}

.footer .name {
  color: gold;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 




.twoEleme {
  width: 80%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 80%  20% ;
}

.producttittle {
  height: 30px;
  width: 95%;
  padding-left: 20px;
}

.priceInput {
  height: 30px;
  width: 90%;
  padding-left: 20px;
}

.towEl {
  display: grid;
  grid-template-columns: 50%  50% ;
  margin: auto;
  /* column-gap: 20px; */

}

.bigIcon {
  font-size: xx-large;
  color: black;
}

.viewReport {
  width: 100px;
  background-color: gold;
  height: 100px;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.actionBtn {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 200px 200px ;
  column-gap: 20px;
}

i {
  cursor: pointer;
}

.inputs {
  border: none;
  width: 90%;
  height: 30px;
  padding-left: 10px;
}

.uploadIcon {
  background-color: black;
  color: gold;
  padding-top: 7px;

}

.contentHolder {
  text-align: start;

}
.videoPlayer {
  background-color: rgb(116, 93, 0);
}



.orders h1 {
  color: black;
  text-align: end;
  padding-right: 20px;
  font-family:   'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-size: large;
}

.twoCards {
  display: grid;
  grid-template-rows: 220px 220px;
  row-gap: 20px;
  text-align: end;
}

.price {
  color: gold;
  float: right;
}


.efak2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  width: 100%;

}

.efak2:first-child{
  text-align: start;
  margin-left: -10%;
}

.presesntImg {
  display: grid;
  width: 80%;
  margin-left: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.inputIconz {
  display: grid;
  text-align: center;
  grid-template-columns: 10% 80% 10%;
}

.proSpecs {
  text-align: start;
}

.productImg img {
  height: 350px;
}

.adder {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  text-align: start;
  /* padding-top: 20px; */
}

.currentValue {
  margin-top: -3px;
  font-size: larger;
}

.specs {
  width: 200px;
  font-family:     'Noto Sans', sans-serif; 
}

.proSpecs h1 {
  font-size: xx-large;
  padding:  30px 0px;
}
.prod {
  display: grid;
  grid-template-columns: 50% 45%;
  column-gap: 5%;
  background-color: black;
}

.priceInfo {
  font-size: x-large;
  padding-bottom: 20px;
  padding-top: 10px;
  color: gold;

}


.proImg {
  padding: 50px;
}

.inputIconz2 {
  display: grid;
  text-align: center;
  grid-template-columns: 20% 80% ;
}

.recentContent , .recentProducts {
  width: 98%;
  height: 100%;
}


.slick-next  {
  display: none;
}
.inputIcon{
  padding-top: 8px;
  color: black;
}

.videoPreview {
  color: black;
  padding-left: 10%;
  font-family:     'Noto Sans', sans-serif; ;
  padding-right: 1%;
}

.videoPreview h3 {
  font-weight: lighter;
}

.CreateVideo {
  color: black;
}



.article {
  background-color: black;
}

.articleTittle {
  background-color: rgba(16, 16, 16, 0.494);
  margin-top: -100px;
}
.articleHead {
  height: 350px;
  display: grid;
  grid-template-rows: 350px 0px;
}


.articleTittle p {
  font-size: x-large;
  text-align: start;
  padding: 0px 10px;
}


.contentD {
  font-size: medium;
  background-color: black;
  padding: 20px;
  text-align: start;
}

.backAnext {
  color: gold;
  padding-top: 20px;
}
.adbbaneer {
  background-color: gold;
  color: black;
  padding: 10px;
}
.paymentLoader {
  padding-top: 20px;
  width: 50%;
}

.pricePresent {
  padding-bottom: 20px;
}

.pricePresent span {
  color: gold;
}
.adbbaneer div {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 100px;
  text-align: start;
  height: 30px;
  
}

.adbbaneer div p {
  margin-top: -0.5px;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
}
.madeBy {
  text-transform: lowercase;
  padding: 0px 0px 30px 0px;
  display: grid;
  grid-template-columns: 30px 200px;
}

.madeBy p {
  margin-top: -2px;
  font-size: medium;

  color: gold;
}


.articleContent {
  display: grid;
  grid-template-columns: 70% 30%;

}

.imageCover {
  object-fit: cover;
  width: 100%;
  height: 350px;
}



.imageCoverV {
  object-fit: cover;
  width: 100%;
  height: 200px;
}



/* .premiumCheck {
  background-color: black;
  width: 20%;
  margin-top: 20px;
  text-align: end;
  margin-left: 80%;

} */
 .toogle label {
   color: black;
 }

 .tooogle label {
  color: black
}

.erromessage {
  width: 200px;
  padding-bottom: 20px;
}


.adminLogin {
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.168);
  background-size: contain;

}
.paddsLef {
  /* padding-left: 20%; */
  color: black;
  font-size: large;
}

.paddingTop {
  padding-top: 20px;
}


.articleForm .artDrop {
  width: 20%;
  margin-left: 80%;
}

 .toogle select {
   background-color: white;
 }
div::-webkit-scrollbar-track , body::-webkit-scrollbar-track {
  background: black;
}

div::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: gold;
}

main {
  /* margin-left: 5rem; */
  padding-top: 2rem;
}

.adminregister {
  padding-top: 20%;
}

.navBack {
  background-color: white;
  width: 100%;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  /* overflow: scroll; */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.efak {
  display: grid;
  grid-template-columns: 40%  40% ;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  cursor: pointer;
  text-align: center;
  /* margin-left: 10px; */
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.mainBody {
  height: 200vh;
  background-color: white;
  text-align: center;
}
.nav-link:active {
  background-color: rgb(58, 51, 8);
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-size: x-large;
  color: gold;

}

.nav-link .homeIcon {
  /* width: 2rem;
  min-width: 2rem; */
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo .homeIcon {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: relative;
  left: -199px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}



.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}


.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .file-upload {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  overflow: hidden;
  background-image: linear-gradient(to bottom, black, 50%, gold 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color:  white;
  font-size: 20px;
}
.wrapper .file-upload input[type='file'] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color:  black;
}


body {
  margin: 0;
  font-family:  'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black
}

.tableHolder {
  display: grid;
  padding: 20px;
  grid-template-columns: 10% 90%;
}


/* .floatBottom {
  float: right;
} */

.formHolder {
  padding-top: 20px;
  /* padding-left: 150px; */
  width: 80%;
  margin-left: 20%;
  text-align: end;
  align-items: center;
  float: right;
  justify-content: center;
  padding-bottom: 30px;
  /* margin-left: 50px; */
}
.stepperBack {
  background-color: black;
  height: 100vh;
}
.signUpF {
  background-color: black;
  /* height: 100vh; */
  margin-top: -25px;
}

.home_main {
  background-color: black;
}

.sliderHolder {
  width:90%;
  margin-left: 5%;
  margin-top: 20px;
  background-image: url(./assets/store.jpg);
  background-size: cover;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  text-align: start;
}

.btnBig {
  height: 40px;
  padding: 10px;
  margin-left: 30px;
  font-size: large;
}

.fullEhite {
  background-color: whi;
}

.sliderHolder p {
  color: #000000;
  font-size: xx-large;
  text-align: start;
  padding: 30px;
  font-weight: 500;
}
.signUpPages {
  background-color: black;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signUpPagezz {
  background-color: black;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: start;
  display: grid;
  grid-template-columns: 20% 70%;
}

  
.chartHolder {
  display: grid;
  padding: 20px;
  grid-template-columns: 0% 70%;
}


.buttonSize {
  padding-top: 20px;
}



input {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.articlebox {
  margin: 20px;
  background-color: rgb(36, 36, 36);
  height: 340px;
  width: 300px;

}

.appBanner {
  background-color: gold;
  height: 55px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 50% 20% 30%;
}

.appBanner img {
  padding: 0px;
}


.appLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.appBanner p {
  font-size: large;
  text-transform: uppercase;
  color: black;
  padding-bottom: 2px;
}


.firstMain {
  display: grid;
  grid-template-columns: 400px 1fr 40%;
}

.first_descr {
  text-align: end;
  padding: 30px;
}
.first_descr p {
  font-size: 3rem;
  color: white;
  text-align: end;
  font-family:     'Noto Sans', sans-serif; 
}


.main_btn {
  background-color: gold;
  border: none;
  width: 120px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.video_box {
  margin: 20px;
  background-color: rgb(36, 36, 36);
  height: 250px;
  width: 400px;
  display: grid;
}

.video_icon {
  position: absolute;
  padding: 10px;
  font-size: x-large;
}



.vide_img_box {
  display: grid;
  width: 100%;
  grid-template-rows: 0px 210px 0px;
}


.transHead .head{
  word-wrap: break-word;
  width: 400px;
  margin-top: -1px;
}

.imgBox {
  /* height: 300px; */
  display: grid;
  grid-template-rows: 250px 0px;
}

.leftFloat {
  text-align: end;
  float: right;
  padding-right: 10px;
}

.rightFloat {
  text-align: end;
  float: left;
  padding-left: 10px;
}

.timeInfo {
  margin: -2px 10px 0px 8px;
  color: white;
  font-size: small;
  text-transform: uppercase;
  float: left;
}

.article_info {
  height: 50px;
}


.article_icon {
  position: absolute;
  margin-top: -370px;
  padding-left: 10px;
}


.head {
  color: white;
  text-align: start;
  padding-left: 5px;
  padding-bottom: 2px;
  cursor: pointer;
  font-size: small;
}

.transHead {
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  width: 410px;
  margin-top: -42px;
  height: 38px;
  
}

.videoMore {
  background-color: rgb(36, 36, 36);
  width: 90%;
  margin-left: 5px;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.timeIcon {
  float: left;
}

.commentForm {
  width: 400px;
  margin-top: 50px;
}

.commentForm2 {
  margin-top: 40px;
}

.videoMore  p {
  color: white;
  font-size: x-small;
  margin-top: 10px;
  padding-left:4px;
  text-align: start;
  text-transform: uppercase;
}

.videoIco {
  padding: 10px;
}

.commentHolder {
  width: 70%;
  margin-left: 10%;
  padding: 20px;
  text-align: start;
}

.commentHolder2 {
  text-align: start;
  width: 90%;
  margin-left: 8%;
}


.more {
  background-color: black;
  padding: 20px;
}


.smallHeadrInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  width: 95%;
  margin-left: 2%;
}

.moreIcon {
  margin-bottom: -3px;
}
.iconName {
  text-align: start;
  float: left;
}


.iconName2 {
  font-size: large;
}
.viewMore {
  float: right;
  text-align: end;
}

.sliderMnger {
  width: 95%;
}

.product_box {
  width: 400px;
  text-align: center;
  /* height: 300px; */
  background-color: black;
  margin: 20px;
  display: grid;
  grid-template-rows: 350px 20px 30px;

}
.productAction {
  display: grid;
  padding-bottom: 40px;
  width: 100%;
  grid-template-columns: 50% 50%;
  background-color: rgb(36, 36, 36);

}

.centerAlg {
  text-align: center;
  width: 100%;
}
.premiumBox {
  width: 600px;
  margin-bottom: 50px;
}
.premiumBox div{
  border-radius: 20px;
  background-color: var(--third--color);
  margin: 10px;
  padding: 2px 15px 2px 20px;
  
}


.premiumBox .pheading {
  text-align: start;
  font-size: x-large;
  text-transform: uppercase;
  color: gold;
  font-weight: bold;

}

.level_up {
  width: 70%;
  text-align: start;
  margin-left: 15%;
  padding: 30px;
}

.moreBar {
  background-color: red;
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
}

.moreBar:first-child {
  text-align: end;
}

.moreBar:last-child {
  text-align: end;
}
.level_up h3 {
  margin-left: 10px;
  font-size: larger;
}

.premiumBox button {
  float: right;
  margin-top: -30px;
  border-radius: 5px; 
}
.ppricing {
  color: white;
  font-size: large;
  text-align: start;
}


.price {
  display: grid;
  grid-template-columns: 50% 50%; 
  text-align: end;

}


.add_cart {
  text-align: start;

}

.card_cart {
  padding: 10px;
}

.price {
  margin-left: 75px;
  padding: 7px;
}
.price p {
  color: gold;
  font-size: small;
  margin-top: 2px;
}

.card_view {
  font-size: x-large;
  text-align: end;
}

.productInfo {
  background-color: rgb(36, 36, 36);
  color: white;
  font-size: small;
  text-align: start;
}

.productInfo p {
  padding-left: 10px;
  margin-top: 2px;
}

.naav , .naav1 , .naav2 {
  color: white;
  text-transform: uppercase;
  cursor: pointer;

}

.cartHolder span {
  position: absolute;
  background-color: gold;
  color: black;
  padding: 3px;
  margin: 12px 0px 0px -10px;
  font-size: xx-small;
  border-radius: 30px;

} 

.naav:hover , .naav1:hover , .naav2:hover {
 color: gold;
  
}

.naav {
  text-align: start;
}

.navIconz {
  font-size: large;
  padding: 5px;
}

.naav1 {
  text-align: center;
}

.naav2 {
  text-align: end;
}

.desktopNav {
  display: grid;
  padding: 20px 0px 10px 20px;
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
  grid-template-columns: 10% 15% 10% 30% 5% 10% 20%;
  text-align: center;
}

.searchBar {
  background-color: transparent;
  border: none;
  color: white;

  
}

.twoIconx {
 display: grid;
 grid-template-columns: 50% 50% ;
 text-align: start;
}


.searBar {
  width: 90%;
  margin-right: 10%;
}

.mainPage {
  background-color: black;
}

.chipElement {
  margin: 10px;
  border: 1px solid gold;
  color: white;
}
.search {
  border: 1px solid gold;
  width: 140px;
  margin-left: 50px;
  border-radius: 20px;
  

}

.search div {
  background-color: transparent;
 padding-left: 10px;
 padding-right: 10px;
 height: 23px;
 width: 120px;
  text-align: end;
  display: grid;
  grid-template-columns: 70% 30%;
}

 .desktopMobileH2 {
  display: none;
}

.menuIcon ,
.cartIIcon {
  color: gold;
}


.desktopMobileH .search {
  background-color: transparent;
  width: 90%;
  margin-left: 10%;
}


.desktopMobileH .search div {
  display: grid;
  width: 100%;
  grid-template-columns: 80% 20%;
}

.desktopMobileH .naav {
  padding: 5px;
  text-transform: capitalize;
}



.searchBar1 {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 800px) {
  body {
    background-color: black;
  }

  
.smallHeadrInfo {
  width: 90%;
  margin-left: 2%;
}

  .appLinks {
    margin-top: 10px;
  }
 

  .level_up {
    width: 90%;
    text-align: start;
    margin-left: 0%;
    padding: 0px;
  }

  .premiumBox button {
    width: 50%;
    float: right;
    margin-top: -30px;
    border-radius: 5px; 
  }
  
  
  .premiumBox {
    width: 100%;
    margin-bottom: 50px;
  }
.commentHolder {
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  text-align: start;
}
  .prod {
    grid-template-columns: 100%;
    column-gap: 0%;
  }
  
.commentForm {
  width: 100%;
  margin-top: 50px;
}


  .proSpecs {
    padding: 20px;
    margin-top: -40px;
  }
  
  .video {
    padding: 10px;
    height: 350px;
    object-fit: cover;
  }
  
.articleTittle p {
  font-size: large;
  text-align: start;
  padding: 0px 10px;
}
  .articleContent {
    grid-template-columns: 100%;
  }

  .sliderMnger {
    width: 81%;
  }



  .mainVideo {
    background-color: black;
    text-align: end;
    display: grid;
    grid-template-columns: 100%
  
  }

  .product_box {
    width: 300px;
    text-align: center;
    background-color: black;
    margin: 20px;
    display: grid;
    grid-template-rows: 260px 20px 20px;
  
  }

  .transHead .head{
    word-wrap: break-word;
    width: 300px;
    margin-top: -1px;
  }
  
  .transHead {
    width: 310px;
    
  }
  .video_box {
    margin: 20px;
    height: 250px;
    width: 300px;
  }

  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: start;
  }
  .footer .footer-center i {
    margin-left: 0;
  }

  .productImg img {
    height: 100%;
  }
  .signUpPages {
    grid-template-columns: 1fr;
    padding-left: 20px;
    width: 100%;
  }

  .chartHolder {
    display: grid;
    padding: 0px;
    margin-left: -30px;
    grid-template-columns: 0% 100%;
    float: left;
  }

  .efak {
    display: grid;
    grid-template-columns: 40%  ;
  
  }

  .efak2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .efakk {
    margin-left: -50%;
    padding-top: 30px;
  }

  

  .formHolder {
    padding-top: 20px;
    /* padding-left: 150px; */
    width: 90%;
    text-align: center;
    margin-left: 0%;
    text-align: start;
    padding: 20px;
    align-items: center;
    float: none;
    justify-content: center;
    padding-bottom: 30px;
    /* margin-left: 50px; */
  }

  
.leftMM {
  width: 70%;
  margin-left: 30%;
  text-align: end;
}

.videform {
  width: 100%;
  margin-left: 0%;
}


  .videoPreview {
    color: black;
    padding-left: 0%;
    padding-right: 0%;
  }
.CreateVideo {
  text-align: start;
  width: 99%;
  display: grid;
  margin-left: 0px;
  margin-right: 1px;
  /* padding: 10px; */
  grid-template-columns: 100%;
  grid-auto-flow: dense;
}


  .producttittle {
    width: 95%;
    padding: 2px;
  }

  
.articleForm {
  text-align: end;
  margin-right: 0px;
  margin-bottom: 100px;
  padding: 20px;
  color: black;
  background-color: white;
}
.twoEleme {
  width: 100%;
  margin-left: 0%;
  display: grid;
  grid-template-columns: 60%  40% ;
}


  .twoCards {
    display: grid;
    grid-template-rows: 200px 200px;
    row-gap: 20px;
    text-align: end;
  }
  
.orders h1 {
  color: black;
  text-align: start;
  padding-top: 20px;
  font-family:   'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}


  .tableHolder {
    display: grid;
    padding: 2px;
    grid-template-columns: 0% 100%;
  }

  .viewReport {
    width: 90%;
    background-color: gold;
    margin-bottom: 20px;
    height: 100px;
    color: black;
    padding: 20px;
    cursor: pointer;
  }
  

  .signUpPagezz {
    background-color: black;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: start;
    display: grid;
    grid-template-columns: 0% 90%;
  }
  .actionBtn {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    column-gap: 20px;
  }

  .towEl {
    display: grid;
    grid-template-columns: 100%  ;
    margin: auto;
    /* column-gap: 20px; */
  
  } 
  

  .articleForm .artDrop {
    width: 40%;
    margin-left: 60%;
  }
  
  .articleForm {
    width: 98%;
    padding: 0px;
  }
  .tittleInput {
    width: 90%;
    /* margin: 10px; */
  }
  .editor {
    width: 90%;
    margin-left: 10%;
    text-align: end;
    /* height: 10px; */
    overflow: scroll;
    background-color: white;
  } 

  .desktopNav {
    display: none;
  }

  .desktopMobileH {
    width: 50%;
    height: 500px;
    position: absolute;
    background-color: black;
    padding-right: 20px;
    border-right: 1px solid rgb(39, 33, 0);
  }

  .desktopMobileH2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 10px;
  }

 .firstMain {
   grid-template-columns: 1fr;
 }

 .firstMain .first_descr  {
    margin-top: -80%;
 }

 .first_descr p {
   font-size: 2rem;
 }
 .appBanner {
   grid-template-columns: 100% 0%;
   row-gap: 20px;
   text-align: center;
   height: 100%;
   margin-top: -10%;
   padding-bottom: 10px;
   color: black;
   position: relative;
 }

 .appLinks {
   width: 90%;
   margin-left: 10%;
   margin-top: -10px;
 }



}



/* Small screens */
@media only screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }


  .editor {
    width: 100%;
    margin-left:  0%;
    text-align: end;
    overflow: scroll;
  } 


  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-item {
    height: 5rem;
  }
  .nav-link {
    justify-content: center;
    border-radius: 15px;
  }


  .nav-item:last-child {
    margin-top: 0;
  }
  

  .homeIcon {
    font-size: large;
  }
  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 800px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }

  
}